.container{
  display:flex;
  justify-content: space-between;
  

}
.navtest{
  display: flex;
  justify-content: space-between;
  width: 50%;
  
}
.navtest li{
  list-style-type: none;
}
.dataitem{
  margin: 5%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 4px;;
}